// Place all the styles related to the Snaps controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="file"] {
  position: relative;
  display: block;
  background-color: deepskyblue;
  height: auto;
}


